.messages {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.dialog {

}

.dialogList {

}

.dialogUserItem {
	padding: 10px;
}

.dialogUserItem a {
	color: white;
	text-decoration: none;
}

.dialogUserItem a.activeLink {
	color: gold;
}

.dialogItem {
	padding: 10px;
}